.button {
  border: none;
  padding: 0;
  background: 0 0;
  cursor: pointer;
}

.button--burger {
  display: none;
}

.button-theme {
  width: 48px;
  height: 48px;

  svg {
    width: 100%;
    height: 100%;
    fill: transparent;
  }
}

.button-theme__path {
  stroke: var(--text-color);
}

.button-theme:hover .button-theme__active {
  fill: var(--accent);
  stroke: var(--accent);
  transition: stroke, fill 0.3s ease-out;
}
