html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--text-color);
  background-color: var(--background-color);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

code {
  font-family: $mono-font;
}
